.services__parent {
  width: 100%;
  color: #8d021f;
  padding-bottom: 4rem;
  background-color: #fdbdc2;
}
.card {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 2rem;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #8d021f;
  margin-top: 5rem;
}
.card img {
  width: 10rem;
  object-fit: contain;
}
.services__child {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.services__card {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
  align-items: center;
}
.services__Heading > div {
  padding: 2rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: sticky;
  top: 5rem;
  width: 75%;
}
.services__Heading button {
  margin-top: 2rem;
}
.services__Heading > div > div {
  /* padding: 2rem; */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.services__Heading > div > div > span {
  padding: 0.5rem;
  border: 1px solid #8d021f;
}
.services__Heading h1 {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.services__Heading {
  width: 50%;
  margin-left: 3rem;
}
@media (max-width: 756px) {
  .services__child {
    flex-direction: column;
  }
  .services__Heading {
    width: 100%;
    margin: 0;
  }
  .services__card {
    width: 100vw;
    margin-left: 0;
    padding: 0;
  }
  .services__Heading > div {
    height: fit-content;
    margin: auto;
  }
}
